<!DOCTYPE html>
<html lang="en">
<head>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Lab 8 Parallel Web</title>
</head>
<body>

<div id="mydiv"></div>

<script type="text/babel">


    function Hello() {
        const link = 'http://127.0.0.1:8080/';
        const [matrices, setMatrices] = React.useState([]);
        const [resultMatrix, setResultMatrix] = React.useState([]);

        const [matrixSize, setMatrixSize] = React.useState(3);
        const [inputMatrices, setInputMatrices] = React.useState([[], []]);

        const [dataSourceInput, setDataSourceInput] = React.useState(false);


        class MatrixPayload {
            constructor(firstMatrix, secondMatrix, threadCount) {
                this.firstMatrix = firstMatrix;
                this.secondMatrix = secondMatrix;
                this.threadCount = threadCount;
            }
        }

        React.useEffect(() => {
            fetch(link)
                .then(response => response.json())
                .then(data => {
                    setMatrices(data);
                });
        }, []);

        // Function to handle the form submission
        const handleFormSubmit = (event) => {
            event.preventDefault();

            // Get the form data
            const formData = new FormData(event.target);
            const size = formData.get('size');
            const matrices = [
                formData.getAll('matrix1[]').map(Number),
                formData.getAll('matrix2[]').map(Number)
            ];

            // Update the state variables
            setMatrixSize(size);
            setInputMatrices(matrices);
            setDataSourceInput(true);
        };

        return (

            <div>
                <button onClick={() => {
                    fetch('http://127.0.0.1:8080/')
                        .then(response => response.json())
                        .then(data => {
                            setMatrices(data);
                            setDataSourceInput(false);
                        })
                }}>Get Matrices from Java
                </button>

                <button onClick={() => {
                    setDataSourceInput(true);
                }}>Manually input Matrices
                </button>
                <br></br>
                {dataSourceInput && <h2>Input Matrices</h2>}

                {dataSourceInput && <form onSubmit={handleFormSubmit}>
                    <label>
                        Size:
                        <input type="number" name="size" min="1" defaultValue={matrixSize}/>
                    </label>
                    <br/>
                    {Array.from({length: 2}, (_, i) => (
                        <div key={i}>
                            <h2>Matrix {i + 1}</h2>
                            {Array.from({length: matrixSize * matrixSize}, (_, j) => (
                                <label>
                                    <input key={j} type="number" name={`matrix${i + 1}[]`} required/>
                                </label>
                            ))}
                            <br/>
                        </div>
                    ))}
                    <button type="submit">Submit user input</button>
                </form>
                }


                {matrices.length > 0 && !dataSourceInput &&
                    matrices.map((matrix, matrixIndex) => (
                        <div key={matrixIndex}>
                            <h2>Matrix {matrixIndex + 1}</h2>
                            <table>
                                <tbody>
                                {matrix.map((row, rowIndex) => (
                                    <tr key={rowIndex}>
                                        {row.map((item, itemIndex) => (
                                            <td key={itemIndex}>{item}</td>
                                        ))}
                                    </tr>
                                ))}
                                </tbody>
                            </table>
                        </div>
                    ))
                }
                <button onClick={
                    () => {
                        console.log("Multiply Matrices")
                        // send matrices to spring
                        const payload = new MatrixPayload(matrices[0], matrices[1], 3);
                        fetch('http://127.0.0.1:8080/multiply', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(payload),

                        })
                            .then(response => response.json())
                            .then(data => {
                                // output matrix result data on the screen
                                setResultMatrix(data);

                                console.log(data);
                            });

                    }
                }>Multiply Matrices
                </button>
                {resultMatrix.length > 0 && (
                    <div>
                        <h2>Result Matrix</h2>
                        <table>
                            <tbody>
                            {resultMatrix.map((row, rowIndex) => (
                                <tr key={rowIndex}>
                                    {row.map((item, itemIndex) => (
                                        <td key={itemIndex}>{item}</td>
                                    ))}
                                </tr>
                            ))}
                            </tbody>
                        </table>
                    </div>
                )}
            </div>
        );
    }

    const container = document.getElementById('mydiv');
    const root = ReactDOM.createRoot(container);
    root.render(<Hello/>)
</script>

</body>
</html>