<!DOCTYPE html>
<html lang="en">
<head>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Lab 8 Parallel Web</title>
</head>
<body>

<div id="mydiv"></div>

<script type="text/babel">


    function Hello() {
        const link = 'http://127.0.0.1:8080/';
        const [matrices, setMatrices] = React.useState([]);

        class MatrixPayload {
            constructor(firstMatrix, secondMatrix, threadCount) {
                this.firstMatrix = firstMatrix;
                this.secondMatrix = secondMatrix;
                this.threadCount = threadCount;
            }
        }

        React.useEffect(() => {
            fetch(link)
                .then(response => response.json())
                .then(data => {
                    setMatrices(data);
                });
        }, []);

        return (
            <div>
                <button onClick={
                    () => {
                        fetch('http://localhost:8080/api/matrix/generate')
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            });
                    }
                }>Generate Matrix
                </button>
                <button onClick={
                    () => {
                        console.log("Input Matrix")
                    }
                }>Input Matrix
                </button>
                <button onClick={
                    () => {
                        console.log("Multiply Matrices")
                        // send matrices to spring
                        const payload = new MatrixPayload(matrices[0], matrices[1], 3);
                        fetch('http://127.0.0.1:8080/multiply', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(payload),

                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log(data);
                            });

                    }
                }>Multiply Matrices
                </button>
                {matrices.map((matrix, index) => (
                    <div key={index}>
                        <h2>Matrix {index + 1}</h2>
                        <table>
                            <tbody>
                            {matrix.map((row, rowIndex) => (
                                <tr key={rowIndex}>
                                    {row.map((item, itemIndex) => (
                                        <td key={itemIndex}>{item}</td>
                                    ))}
                                </tr>
                            ))}
                            </tbody>
                        </table>
                    </div>
                ))}
            </div>
        );
    }

    const container = document.getElementById('mydiv');
    const root = ReactDOM.createRoot(container);
    root.render(<Hello/>)
</script>

</body>
</html>